sensors:
  # If interval is not specified in the sensor explicitly,
  # A random one within this range will be selected
  interval:
    min: 100
    max: 200
    unit: milliseconds

  network-interfaces:
    description: Track interface state transitions
    listener: ifacenotify
    opts:
        - iface-added
        - iface-removed
        - link-up
        - link-down
        - addr-added
        - addr-removed
    args:
        locked: false
    
  mount-watch:
    profile:
      - default
    description: Watches disk mounts
    listener: mountnotify
    opts:
      - mounted
      - unmounted
    args:
      mountpoints:
        - /tmp/mt
        - /tmp/omt

  google:
    profile: [default]
    listener: netnotify
    opts: [opened, closed]
    args:
      patterns:
        - "*.au-net.ne.jp"
        - "*.comcast.net"
        - "*.nt-isp.net"
      ignore:
        - "udp * *"
      locked: false
      dns-ttl: 60
    

  banned-processes:
    profile:
      - default
    description: Watches bash process appears
    listener: procnotify
    opts:
      - appeared
      - disappeared
    args:
      process:
        - python3
        - ruby
        - perl

  # A random ID
  tmp-watch:
    # Default if not defined at all
    profile:
      - default

    description: Watches /tmp for changes
    listener: fsnotify
    opts:
      - created
      - changed
      - deleted
    args:
      path: /tmp/special/

    tag: foo

events:
  banned-processes|procnotify|appeared@$|0:
    handlers:
      - pipeline
    pipeline:
      calls:
        - query: cb/cleaner
          context:
            killit: $.data.pid
      verbose: true

  tmp-watch|fsnotify@foo|deleted@/tmp/special/$|0:
    handlers:
      - pipeline
    pipeline:
      calls:
        - query: single/info
          context:
            osversion: |
              foobar just happened
      verbose: true

  tmp-watch|fsnotify|deleted@/tmp/x|0:
    handlers:
      - pipeline

    pipeline:
        calls:
          - query: single/info
            context:
              osversion: |
                $.listener just deleted your $.data.file file
        verbose: true

  tmp-watch|fsnotify|deleted@/tmp/bar|0:
    handlers:
      - pipeline

    pipeline:
        calls:
          - query: single/info
            context:
              osversion: |
                This $.data.file was just $.data.action
        verbose: quiet # info | debug

  tmp-watch|fsnotify|deleted@/tmp/$|0:
    handlers:
      - pipeline

    pipeline:
        calls:
          - query: single/info
            context:
              osversion: $.data.action
        verbose: quiet # info | debug

  $|$|$|$:
    handlers:
      - console-logger
      - outcome-logger

    console-logger:
      concise: false
      prefix: Single Call

    outcome-logger:
      prefix: Single Call
