# Here are router ports that needs to be opened
entities:
  # Collection of entities, because it depends on more
  general-network:
    consists:
      - routes
      - interfaces
      - addresses
    depends:
      - ssh-sockets

  # Single entities
  ssh-sockets:
    facts:
      $:
        - default:
            port: tcp,0.0.0.0:22,0.0.0.0:*
            port6: tcp,[::]:22,[::]:*

  # Same as SSH sockets, but different Id, so other action
  no-ssh-sockets:
    inherits:
      - ssh-sockets

  postgres-sockets:
    facts:
      $:
        - default:
            port: tcp,0.0.0.0:5432,0.0.0.0:*
            port6: tcp,[::]:5432,[::]:*

  routes:
    facts:
      $:
        - default:
            route_a: 192.168.2.0/24
            route_b: 192.168.122.0/24

  interfaces:
    facts:
      $:
        - default:
            lo: lo
            vir: virbr0
            vir1: virbr1
            wifi: wlp0s20f3

  addresses:
    facts:
      # Fact label. It is referred
      # by a constraint, if needed
      $:
        - wifi-v6:
            if: wlp0s20f3
            inet: 192.168.2.151/24
            inet6: 2003:d5:5f08:bad2:9b59:e793:8723:5cfa/64

        - wifi-v4:
            if: wlp0s20f3
            inet: 192.168.2.151/24
            inet6: null
