config:
  # Path to the custom location where modules resides
  # Default: /usr/share/sysinspect/modules
  #
  # modules: /path/to/custom/location

  # Configuration that is present only on master node
  master:
    # Command socket. Default: /var/run/sysinspect.socket
    socket: /tmp/sysinspect-master.socket
    bind.ip: 0.0.0.0
    bind.port: 4200

    fileserver.bind.ip: 0.0.0.0
    fileserver.bind.port: 4201

    # Virtual minions cluster example
    cluster:
      # Virtual minion description.
      - id: 123
        hostname: fustercluck

        # Static traits for the virtual minion
        traits:
          foo: "bar"

        # This is what it consists of.
        # All these items in "nodes" list
        # are added with "AND" operand (not "OR"!).
        nodes:
          # A specific minion
          - id: deadbeef12312312312312
            hostname: deadbeef

          # Another specific minion
          - id: 345345345345345345345345
            hostname: someotherhost

          # Or you can say all hosts with these traits
          - traits:
              system.os: linux
              system.mem: "> 8Gb"

      # Another virtual minion
      - id: 234  # The ID can be literally anything. This one is fully valid.
        hostname: custerflock
        traits:
          name: "toto"

        nodes:
          - id: 456456456456456456
            hostname: foobar


    # UI history configuration
    history:
      rotate: true # default false
      limit: 10 # Maximum number of history entries to keep in the database
      age: 30 # Units?

    # Telemetry configuration
    telemetry:
      collector.grpc: 10.1.2.3:4317
      collector.compression: gzip

      # Define any exporter attributes.
      # A Resource describes the entity producing telemetry
      # (e.g. a process, container, or service). It is immutable
      # and shared by all signals (traces, metrics, logs) coming
      # from that entity.
      exporter-resources:
        service.name: "my-service"
        service.version: "1.0"
        host.name: "my-host"
        os.type: "linux"
        deployment.environment: "production"

      # Scope are typically a name, version, schema_url attributes etc.
      # The attributes here are optional, build-time metadata that further
      # qualify the scope—e.g. the URL of the instrumentation’s repo,
      # a feature-flag, or other static info about that library.
      exporter-scope:
        name: my-scope
        build.commit: "1234567890abcdef"
        build.date: "2024-10-01T00:00:00Z"

    # Path to the models in fileserver root
    fileserver.models.root: /models

    # Exported models
    fileserver.models:
      - router
      - inherited
      - cm

    scheduler:
      # Call configuration management model every 5 seconds on all minions
      - name: cfgmgmt
        query: cm/file-ops;*;;
        interval: 5
        interval.unit: seconds

      # Another example
      - name: other
        query: inherited/addresses/interfaces;*;system.os.name:Ubuntu
        interval: 7
        interval.unit: seconds


    # Daemon mode
    log.stream: /tmp/sysinspect.log
    log.errors: /tmp/sysinspect.err.log
    pidfile: /tmp/sysinspect.pid

    # API configuration
    api.devmode: false
    api.enabled: true

  # Configuration that is present only on a minion node
  minion:
    # Root directory where minion keeps all data.
    # Default: /etc/sysinspect — same as for master
    root: /etc/sysinspect

    # Root directory where minion keeps all data.
    # Default: /etc/sysinspect — same as for master
    master.ip: 192.168.2.31  # Whatever your master runs on
    master.port: 4200
    master.reconnect.freq: 0 # Infinite
    master.reconnect.interval: "1-5" # Random interval between 1 and 5 seconds

    # You can disable log forwarding from modules, setting this to "false".
    # Default is "true" and you should not disable it. :-)
    log.forward: true
