sensors:
  interval:
    min: 500
    max: 1000
    unit: milliseconds

  keypair-dir-watch:
    description: Watch /tmp/keypairdemo for host keypair file deletions
    listener: fsnotify
    opts:
      - deleted
    args:
      path: /tmp/keypairdemo

events:
  # Deleted public key => fetch from Master datastore
  keypair-dir-watch|fsnotify|deleted@/tmp/keypairdemo/$.pub|0:
    handlers:
      - pipeline
      - console-logger

    pipeline:
      calls:
        - query: keypair/keypair-files/repair-pub
      verbose: true

    console-logger:
      concise: false
      prefix: Keypair Demo

  # Deleted private key => regenerate pair and publish pubkey
  keypair-dir-watch|fsnotify|deleted@/tmp/keypairdemo/$.priv|0:
    handlers:
      - pipeline
      - console-logger

    pipeline:
      calls:
        - query: keypair/keypair-files/regen-priv
      verbose: true

    console-logger:
      concise: false
      prefix: Keypair Demo

  # Catch-all for additional visibility
  $|$|$|$:
    handlers:
      - outcome-logger

    outcome-logger:
      prefix: Keypair Demo
